html
  height 100%

body
  height 100%

#app
  height 100%

// .appDiv
//   height 100%

.nav
  display flex
  justify-content space-between
  width 100%
  padding 10px 20px
  align-items center

.nav img
  height 35px

.nav h1
  font-size 3.2rem

.home
  padding 10px 20px
  height 100%

#homeImg
  display: flex;
  justify-content: space-between;
  padding 10px
  // background #334e5c


.home img
  height 45px
  // border 1px solid blue
  // padding 15px
  // border-radius 14px

.home img a
  height 45px

#more1
  // position absolute
  // top 400px
  // left 30px
  // border-radius 14px
  // transform rotate(-25deg)

// #car
//   position absolute
//   top 305px
//   left 430px
//   transform rotate(0deg)

.active img
  transform scale(1.2)


// #mother
//   position absolute
//   top 330px
//   left 220px
//   transform rotate(-15deg)
//
// #vote
//   position absolute
//   top 330px
//   left 630px
//   transform rotate(15deg)
//
//
// #more2
//   position absolute
//   top 400px
//   left 830px
  // transform rotate(25deg)

.logo
  height 100%
  display flex
  justify-content center


.logo img
  border none
  height 90vw

#teamsImg
  position absolute
  bottom 15px
  left 15px
  height 50px

#filter
  position absolute
  bottom 15px
  right 15px
  height 50px
  transform rotate(90deg)

// .streams
//   height 100%

.streams img
  border none

#streamBox
  display flex
  justify-content center
  overflow-x scroll
  height 60vh

#streamBox ul li
  list-style none
  font-size 1.8rem
  padding 10px 15px
  margin 15px 0 
  background #F2F2F2
