html
  height 100%

body
  height 100%

#app
  height 100%

.nav
  display flex
  justify-content space-between
  width 100%
  padding 10px 20px
  align-items center
  background #365eff
  color white

.nav img
  height 35px

.nav h1
  font-size 3.2rem

  #ly
    font-weight 500
    color #ffcd1f
    font-size 2rem
    letter-spacing: 1px

.home
  padding 10px 20px
  height 100%
  text-align: center;

#homeImg
  display: flex;
  justify-content: space-between;
  padding 10px
  margin-bottom 15px

.home img
  height 45px

.home img a
  height 45px

.home h1
  font-size 4rem

.home h3
  line-height: 1.20
  margin-top 10px

.active img
  transform scale(1.3)
  border-radius: 15px
  padding 0 5px
  box-shadow inset 0 0 1em gold

.logo
  height 100%
  display flex
  flex-direction: column;
  justify-content center

.logo h2 .bold
  font-weight 600

.logo img
  border none
  height 75vw

#teamsImg
  position absolute
  bottom 15px
  left 15px
  height 50px

#filter
  position absolute
  bottom 15px
  right 15px
  height 50px
  transform rotate(90deg)
  z-index 50

.streams img
  border none

#streamBox
  display flex
  justify-content center
  overflow-x scroll
  height 60vh

#streamBox ul li
  list-style none
  font-size 1.8rem
  padding 10px 15px
  margin 15px 0
  background #F2F2F2

#filterDiv
  position absolute
  width 100%
  height 100%
  top 0
  right 100vw
  transition .5s all
  background white
  font-size 4rem
  display flex
  justify-content center
  align-items center
  &.inScreen
    right 0px

#filterDiv input
  margin-bottom 20px

  label
    border-radius: 50%
    padding 10px
    background none
    width 44px

.contract, .approval
  text-align: center;
  padding 0 15px

.contract h1, .approval h1
  font-size 2.6rem

.contract img, .approval img, .status img
  height 80px
  margin 15px auto
  padding-bottom: 10px

.contract ul
  list-style: none
  :first-child
    margin-top: 15px

.contract ul li
  font-size 1.8rem
  padding-bottom 15px

.contract #filter, .approval #filter, .status #filter
  display none

.approval #userShake, .approval #nameShake
  display flex
  flex-direction: row;
  justify-content: space-between;

#userShake .userApproval
  height 100px

#handShake, #like
  height 130px

.approval #nameShake p
  font-size: 2rem
  width: 80%

.status
  display flex
  flex-direction column
  justify-content center
  align-items center

.status p
  font-size 2rem

.status #calendarImg img
   margin 30px 10px 0px
